@{
    ViewBag.Title = "Index";
}

<h2>Dashboard</h2>

<div id="siteMetrcis" ></div>

<input type="button" value="test1" />
<input type="button" value="test2" />
<input type="button" value="test3" />
<input type="button" value="test4" />

